@media (min-width: 768px) and (max-width: 991px) {

    #historia-empresa{
        height: 752px;
        margin-top: 60px;
        padding-top: 0px;
    }

    #pensamento-empresa{
        height: 760px;
        padding-top: 30px;
    }


    #historia-empresa h2, #pensamento-empresa h2{
        font-weight: 300;
        margin-bottom: 30px;
    }

    .img-section img{
        width: 450px;
        height: 297px;
        margin-top: -80px;
        margin-left: 20px;
    }

    .esquerda{
        margin-top: -15px;
    }

    #qualidade-empresa{
        height: 500px;
        background-color: #F0F2F5;
        padding-top: 0px;
        flex-direction: column;
        display: flex;
    }

    #titulo-qualidade{
        width: 100%;
        height: 100px;
        align-items: center;
        display: flex;
    }

    #barra-texto{
        width: 4px;
        height: 100px;
        background-color: #243E63;
        display: flex;
    }

    #conteiner-texto {
        width: 100%;
        margin-left: 10px; 
        flex-direction: column;
    }

    #conteiner-texto h2{
        margin-top:-10px;
        
    }

    #conteiner-texto p{
        margin-top: -20px;
        margin-left: 3px;
    }

    .conteiner-qualidade{
        width: 100%;
        height: 120px;
        display: flex;
        padding-top: 20px;
        flex-direction: column;
    }

    .qualidade-item{
        width: 100%;
        height: auto;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        margin-left: 20%;
    }

    .qualidade-item .qualidade-icon{
        width: 35px;
        height: 30px;
    }

    .qualidade-icon img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }

    .qualidade-item h3{
        font-size: 18px;
        margin-left: 20px;
    }

    .qualidade-item p{
        margin-left: 20px;
        font-size: 18px;
    }

    .qualidade-esquerda{
        margin-bottom: 100px;

    }

    footer{
        margin-top: 50px;
    }

}