@media (min-width: 340px) and (max-width: 599px){
    a{
        font-size: 14px;
        color: #2B63A9;
        text-decoration: none;
        text-decoration:underline;
    }

    h2{
        font-size: 40px;
        font-weight: 300;
        color: #243E63;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    p{
        color: #1E1E1E;
        font-size: 14px;
        line-height: 1.5;
        text-align: justify;
    }
    
    #wrapper{
        width: 100%;
        height: 100%;
    }

    .carousel{
        width: 100%;
        height: 230px;
    }

    .apresentacao-conteudo{
        width: 100%;
        height: 27vh;
        position: relative;
    }

    .apresentacao-conteudo img{
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: brightness(50%); 
        transition: filter 0.3s; 
    }

    .apresentacao-conteudo .texto-apresentacao{
        width: 140px;
        position: absolute;
        top: 125px;
        left: 95px;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-weight: 700;
        color: #ffffff;
        text-align:justify;
        line-height: 135%;
    }

    .apresentacao-conteudo span{
        font-size: 14px;
        font-weight: 700;
        background-color: rgba(77, 92, 187, 0.5);
    }

    .conteudo-texto, .conteudo-imagem{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }

    .conteudo-texto{
        order: 1;
    }
    
    .apresentacao-conteudo .empresa{
       width: 280px;
       left: 180px;
    }

    #vantagens,#historia-empresa, #conheca-empresa, #pensamento-empresa, #qualidade-empresa,#conheca-produto, #carateristicas-produto, #beneficios, #integrantes{
        width: 100%;
        height: 645px;
        display: flex;
        background-color: #ffffff;
        justify-content: center;
        align-items: center;
        padding: 8px 4%;
        padding-top: 60px;
        flex-direction: column;
    }

    .conteudo-imagem{
        justify-content: center;
        align-items: center;
        order: 2;
    }

    .conteudo-texto p{
        font-weight: 300;
        margin-bottom: 30px;
    }

    .conteudo-imagem img{
        width: 240px;
        height: 240px;
        object-fit: contain;
        
    }

    .esquerda img{
        width: 270px;
        height: 270px;
        margin-top: 0px;
    }

    .direita{
        padding-top: 0px;
    }

    .membro{
        width: 100%;
        height: 92px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px rgba(65, 65, 65, 0.2);
        padding: 10px;
        align-items: center;
        display: flex;
        margin-bottom: 20px;
    }

    .membro-imagem,.membro-texto{
        width: 175px;
        height: 144px;
        padding-top: 3px;
        align-items: center;
    }

    .membro-imagem img{
        width: 78px;
        height: 78px;
        border-radius: 100%;
        margin-left: -2px;
        margin-top: 35px;
    }

    .membro-texto h4{
        font-size: 16px;
        font-weight: 400;
        color: #1E1E1E; 
        margin-top: 50px;
    }

    .membro-texto p{
        font-size: 11px;
        display: block;
        font-weight: 300;
    }

}