@media (min-width: 1200px) {
    #wrapper{
        width: 100%;
        height: 100%;
    }

    .apresentacao-conteudo{
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .apresentacao-conteudo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%); 
        transition: filter 0.3s; 
    }

    .apresentacao-conteudo p{
        width: 470px;
        position: absolute;
        top: 50%;
        left: 320px;
        transform: translate(-50%, -50%);
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
        text-align:justify;
        line-height: 135%;
    }

    a{
        font-size: 16px;
        color: #2B63A9;
        text-decoration: none;
    }

    .apresentacao-conteudo span{
        font-size: 48px;
        font-weight: 700;
        background-color: rgba(77, 92, 187, 0.5);
    }

    .conteudo-texto, .conteudo-imagem{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px 4%;
        border: 1px solid #000;
    }

    .conteudo-texto h1{
        font-size: 48px;
        font-weight: 400;
        color: #243E63;
        margin-bottom: 30px;
    }

    .conteudo-texto p{
        font-size: 16px;
        color: #1E1E1E;
        line-height: 1.5;
        text-align: justify;
        font-weight: 200;
        margin-bottom: 30px;
    }

}