@media (min-width: 1200px) {

    .apresentacao-conteudo .empresa{
        width: 560px;
        top: 55%;
    }

    #historia-empresa, #pensamento-empresa{
        width: 100%;
        height: 490px;
        display: flex;
        background-color: #ffffff;
        padding: 8px 4%;
        padding-top: 60px;
    }


    #pensamento-empresa{
        padding-top: 30px;
    }


    #historia-empresa h2, #pensamento-empresa h2{
        font-size: 48px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .img-section img{
        width: 550px;
        height: 337px;
        margin-top: -50px;
    }

    .esquerda{
        margin-top:  -15px;
    }

    #qualidade-empresa{
        width: 100%;
        height: 400px;
        display: flex;
        background-color: #F0F2F5;
        padding: 8px 4%;
        padding-top: 30px;
        flex-direction: column;
    }

    #titulo-qualidade{
        width: 100%;
        height: 100px;
        align-items: center;
        display: flex;
    }

    #barra-texto{
        width: 4px;
        height: 100px;
        background-color: #000;
        display: flex;
    }

    #conteiner-texto {
        width: 100%;
        margin-left: 10px; 
        flex-direction: column;
    }

    #conteiner-texto h2{
        margin-top:-10px;
        
    }

    #conteiner-texto p{
        margin-top: -20px;
        font-size: 16px;
    }

    .conteiner-qualidade{
        width: 100%;
        height: 120px;
        display: flex;

        padding-top: 20px;
    }

    .qualidade-item{
        width: 50%;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .qualidade-item .qualidade-icon{
        width: 45px;
        height: 45px;
    }

    .qualidade-icon img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }

    .qualidade-item h3{
        font-size: 18px;
        margin-left: 20px;
    }

    .qualidade-item p{
        margin-left: 20px;
        font-size: 18px;
    }

    .qualidade-esquerda{
        padding-left: 20px;
    }


}